<style>
  body {
   background-image: url(https://postscript.com.au/wp-content/uploads/2014/09/Depositphotos_21385427_m.jpg);
}
  
</style>
<h1 align="center" style= "color:white">FatFat Cap Store hehe</h1>

  <thead >
      <style>
        btn{
          color: white;
        }
        
        .center{
          text-align: center;
        }

        
      </style>
  </thead>
  <tbody>
        <div class="container center">
          <div class="btn-group center">  
            <%= link_to "商品", items_path, class: "btn btn-success btn-lg", style: "color:white" %>
            <%= link_to "進貨", purchases_path, class: "btn btn-primary btn-lg", style: "color:white" %>
            <%= link_to "出貨", orders_path, class: "btn btn-info btn-lg", style: "color:white" %>
            <%= link_to "分類", sorts_path, class: "btn btn-danger btn-lg", style: "color:white" %>  
          </div>
    </div>

          
<!--           <a href="#" class="btn btn-primary">Apple</a>
  <a href="#" class="btn btn-primary">Samsung</a>
  <a href="#" class="btn btn-primary">Sony</a> -->
    
  </tbody>

  <tfoot>
  </tfoot>





